:root /*Raiz do arquivo css, representa o elemento <html> na página HTML*/{
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}

* /*Seletor Universal que se aplica em todos os elementos da página*/ {
    color: var(--fontColor);
    font-family: helvetica;
}

body{
    background: var(--bg)
}
ul {
    font-family:helvetica;
}
li {
     list-style-type: circle; /* Estiliza o marcador(bolinha preta) da lista*/
}

.list{
    list-style: square; /*Estiliza o marcador(bolinha preta) da lista*/
}

.btn{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {
    outline-style: none;
}


.light-theme {
   --bg: var(--white);
   --fontColor: var(--black);
   --btnBg: var(--black);
   --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor:var(--white);
    --btnBg: var(--white);
   --btnFontColor: var(--black);
}